<mat-toolbar color="primary" *ngIf="this.router.url !== '/login'" [ngStyle]="{'display': ['/login', '/register'].includes(this.router.url)? 'none': ''}">
    <button mat-flat-button color="primary" class="link">
        <!-- <mat-icon (click)="logout()">phone_android</mat-icon> -->
        <span (click)="redirect('/clients')" class="bar-title"> PHONE REPAIR S.A.S</span>
    </button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="link">
        <mat-icon (click)="redirect('/clients')" matTooltip="Clientes">account_circle</mat-icon>
    </button>
    <button mat-icon-button class="link">
        <mat-icon (click)="redirect('/repairings')" matTooltip="Reparaciones">phonelink_setup</mat-icon>
    </button>
    <button mat-icon-button class="link">
      <mat-icon (click)="logout()" matTooltip="Cerrar sesión">logout</mat-icon>
    </button>
</mat-toolbar>
<router-outlet></router-outlet>